<!-- Footer -->
<div id="footer">
    <div class="container">


            <section class="contact">
                <header>
                    <h3>follow me</h3>
                </header>

                <ul class="icons">
                    <li><a href="https://twitter.com/BassoAureliano" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/janVonT79" class="icon brands fa-linkedin-in"><span
                            class="label">Linkedin</span></a></li>
                </ul>
            </section>

            <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; Untitled. All rights reserved. Design: <a href="#">2023 © CodeQuest</a></li>

                </ul>
            </div>

        </div>

    </div>





<!-- Scripts -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.dropotron.min.js"></script>
<script src="../static/js/jquery.scrolly.min.js"></script>
<script src="../static/js/jquery.scrollex.min.js"></script>
<script src="../static/js/browser.min.js"></script>
<script src="../static/js/breakpoints.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>