{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    {% include 'header.html' %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url({{ url_for('static', filename='img/garlic1.png') }})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Log In</h1>
                        <span class="subheading"><a
                                href="https://www.freepik.com/free-photo/black-t-shirts-with-copy-space_15474803.htm#&position=0&from_view=popular">Image by rawpixel.com</a> on Freepik</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-md-10 mx-auto content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger" style="color: red;">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>


    {% include "footer.html" %}
{% endblock %}