<nav id="nav">
    <ul>
        {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('experience') }}">Professional History</a></li>
            <li><a href="{{ url_for('documents') }}">Supporting documents</a></li>
            <li><a href="{{ url_for('references') }}">Work references</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Me</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('experience') }}">Professional History</a></li>
            <li><a href="{{ url_for('documents') }}">Supporting documents</a></li>
            <li><a href="{{ url_for('references') }}">Work references</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Me</a></li>
            <li><a href="{{ url_for('logout') }}">logout</a></li>

        {% endif %}
    </ul>
</nav>